/******** Général *********/
* {
    font-family: "Raleway", Verdana;
}

body {
    display: flex;
    justify-content: center;
    margin: 0;
}

.main-contenu {
    width: 100%;
    max-width: 1440px;
    padding: 0 50px;
    box-sizing: border-box;
}

h1 {
    font-weight: 700;
    font-size: 22px;
    margin-bottom: 0;
}

h2 {
    font-weight: 700;
    font-size: 1em;
}

h3 {
    font-weight: 700;
    font-size: 16px;
}

h4 {
    font-weight:500;
    font-size: 14px;
    margin-top: 15px;
    margin-bottom: 15px;
}

/******** Header ********/
nav{
    display: flex;
    justify-content: space-between;
    margin-bottom: 30px;
    
}

nav img {
    width: 61.09px;
    height: 19px;
    padding-top: 30px;
    padding-bottom: 30px;
}

.liens {
    display: flex;
    align-items: baseline;
}

nav a {
    margin-left: 80px;
    text-decoration: none;
}

.lien1 {
    color: #0065FC;
    border-top: 2px solid #0065FC;
    padding-top: 20px;
}

/******** main ********/

/******** présentation ********/

.présentation p {
    margin-top: 5px;
}

/******** barre de recherche ********/
.recherche {
    display: flex;
    align-items: center;
    margin-top: 30px;
    margin-bottom: 30px;
}

.fa-location-dot {
    color: #000000;
}

.recherche i {
    padding: 19px;
    color: #000000;
    background-color: #F2F2F2;
    border-top-left-radius: 15px;
    border-bottom-left-radius: 15px;
}

.recherche textarea {
    font-weight: 600;
    resize: none;
    border-top: 1px solid #F2F2F2;
    border-bottom: 1px solid #F2F2F2;
    border-left: none;
    border-right: none;
    padding: 18px;
    overflow-y: hidden;
}

::placeholder {
    font-weight: 700;
    color: #000000;
    font-size: 1.2em;
}

.recherche p {
    font-weight: 700;
    background-color: #0065FC;
    color: white;
    border-top-right-radius: 15px;
    border-bottom-right-radius: 15px;
    padding: 17px 18px;
    margin: 0;
}

/******** filtre ********/
.boutons ul {
    display: flex;
    align-items: center;
    padding: 0;
}

.boutons i {
    color: #0065FC;
    padding-right: 10px;
    font-size: 17px;
}

.boutons .titre {
    margin-right: 20px;
}

.boutons-logo {
    display: flex;
}

.boutons li {
    border: 2px solid #e4e3e3;
    border-radius: 30px;
    padding: 15px 20px;
    margin-right: 20px;
    font-weight: 700;
    list-style-type: none;
}

.boutons li:hover {
    background-color: #DEEBFF;
    cursor: pointer;
}

/******** logo information ********/
.fa-info {
    color: #0065FC;
    border: 1px solid  #a7a7a7;
    border-radius: 50%;
    padding: 10px 8px;
    margin-right: 15px;
}

.information {
    margin-top: 40px;
    margin-bottom: 40px;
}


/******** Hébergements et populaires ********/
.hébergements-et-populaires {
    display: flex;
    justify-content: space-between;
}

.hébergements-et-populaires h1 {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0;
}

.hébergements-et-populaires section {
    background-color: #F2F2F2;
    border-radius: 20px;
    padding: 30px;
    box-sizing: border-box;
}

.carte {
    background-color: white;
    border-radius: 20px;
    padding: 5px;
    filter: drop-shadow(0px 3px 15px rgba(0, 0, 0, 0.1));
}

.carte img {
    object-fit: cover;
}

.fa-star {
    color: #0065FC;
}

.neutral-star {
    color: #F2F2F2;
}

/********* Hébérgements ********/
.hébergements {
    width: 65%;
}

.hébergements-cartes {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.hébergements-cartes .carte {
    margin-top: 30px;
    height: 207px;
    width: 30%;
}

.hébergements-cartes img {
    width: 100%;
    height: 59%;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
}

.hébergements-cartes .carte-contenu {
    height: 40%;
    padding-left: 15px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    box-sizing: border-box;
}

.hébergements-cartes h3 {
    margin-top: 10px;
    margin-bottom: 4px;
}

.hébergements-cartes h4 {
    margin: 0;
}

.hébergements-cartes .carte-étoile {
    display: flex;
    margin-bottom: 8px;
}

.hébergements-cartes .fa-star {
    margin-right: 2px;
}

.hébergements h2 {
    margin-top: 30px;
    margin-bottom: 0;
}

/******** Populaires ********/
.populaires {
    width: 32%;
}

.populaires-cartes .carte{
    display: flex;
    margin-top: 33px;
}

.populaires-cartes img {
    width: 33%;
    height: 136px;
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
}

.populaires-cartes .carte-contenu {
    width: 67%;
    padding-left: 15px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    box-sizing: border-box;
}

.populaires-cartes h3 {
    margin-top: 10px;
    margin-bottom: 4px;
}

.populaires-cartes h4 {
    margin: 0;
}

.populaires-cartes .carte-étoile {
    margin-bottom: 5px;
}

.fa-chart-line {
    color: #0065FC;
}

.populaires-cartes .carte-étoile {
    display: flex;
    margin-bottom: 8px;
}

.populaires-cartes .fa-star {
    margin-right: 2px;
}

/******** Activités ********/
.activités h1 {
    margin-left: 30px;
    margin-top: 60px;
    margin-bottom: 30px;
}

.carte2 {
    background-color: white;
    border-radius: 20px;
    filter: drop-shadow(0px 3px 15px rgba(0, 0, 0, 0.1));
    width: 22%;
}

.carte2 img {
    object-fit: cover;
    height: 380px;
    width: 100%;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
}

.carte2 h3 {
    padding-left: 15px;
} 

.activités-cartes {
    display: flex;
    justify-content: space-evenly;
}

/******** Footer ********/
footer {
    background-color: #F2F2F2;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    margin-top: 50px;
}

footer div {
    flex: 1; /* Partage l'espace disponible équitablement entre les colonnes */
    margin-left: 20px;
}

footer ul {
    padding: 0;
    margin-bottom: 0;
}

footer li {
    padding-bottom: 20px;
    list-style-type: none;
    font-size: 16px;
}

footer h2 {
    font-size: 18px;
}

/* Styles pour le contenu principal du site quand la largeur d'écran est supérieure à 1440px
@media screen and (min-width: 1441px) {
    body {
        max-width: 1440px;
    }
} */

@media (max-width: 1024px) {
    .boutons i {
        font-size: 16px;
    }

    .boutons ul {
        display: block;
    }
    
    .hébergements-et-populaires {
        flex-direction: column;
    }

    .hébergements {
        width: 100%;
    }

    .populaires {
        width: 100%;
        margin-top: 50px;
    }

    .populaires-cartes {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
    }

    .populaires-cartes .carte {
        width: 30%;
    }

    h3 {
        font-size: 16px;
    }

    .populaires-cartes .carte h4 {
        font-size: 14px;
    }

    .carte2 img {
        height: 200px;
    }

    footer li {
        font-size: 16px;
    }
}

@media (max-width: 768px) {
    .main-contenu {
        padding: 0 20px;
    }

    nav {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    nav a {
       margin-left: 40px;
       margin-right: 40px;
    }

    .lien1 {
        border-top: none;
        border-bottom: 2px solid #0065FC;
        padding-bottom: 20px;
    }

    .lien2 {
        border-bottom: 2px solid #a7a7a7;
        padding-bottom: 20px;
    }

}